.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	/* transition: 0.3s; */
	background-color: whitesmoke;
	/* width: 40%; */
}

.card:hover {
	box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2) !important;
}

.card>.card-overlay
{
	position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transition: all 1s ease;
    display: grid;
    margin: auto;
	/* transform: scale(0); */
}

.card>.card-overlay>i
{
	font-size: 15em;
	grid-area: 1 / 1 / 2 / 2;
}

.cardContainer {
	padding: 2px 50px;
	text-align: left;
}