#dialogContainer
{
    transition: all 1s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

#dialog
{
    padding: 15px;
    background-color: white;
    border-radius: 40px;
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}