
.App, .App * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.App {
	text-align: center;
	width: 100%;
	height: 100%;
	/* max-width: 780px; */
	margin: auto;
	padding: 15px;
	color: #222;
	font: normal normal normal 1rem/1.6 Nunito Sans, Helvetica, Arial, sans-serif;
}

.homeContainer
{
	width: 100%;
    height: 100%;
    max-width: 600px;
    margin: auto;
	position: relative;
}

.absolute-center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-group button {
	background-color: #4CAF50; /* Green background */
	border: 2px solid gainsboro; /* Green border */
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
	font-size: 2.5em;
	width: 100%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #3e8e41;
}

.card-transition
{
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}

.transparent
{
	background-color: transparent !important;
	color: gray !important;
}

.base-button {
	display: block;
	width: 320px;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 0;
	overflow: hidden;
	position: relative;
	transform: translatez(0);
	text-decoration: none;
	box-sizing: border-box;
	font-size: 24px;
	font-weight: normal;
	box-shadow: 0 9px 18px rgba(0,0,0,0.2);
}

.base-button:focus
{
	outline: none;
}

.instagram {
	text-align: center;
	border-radius: 50px;
	padding: 26px;
	color: white;
	background: #BD3381;
	transition: all 0.2s ease-out 0s;
}

.gradient {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	bottom: auto;
	margin: auto;
	z-index: -1;
	background: radial-gradient(90px circle at top center, rgba(238,88,63,.8) 30%, rgba(255,255,255,0));
	transition: all 0s ease-out 0s;
		transform: translatex(-140px);
		animation: 18s linear 0s infinite move;
}

.dislike-profile
{
	transform: translateX(-100vw) !important;
}

.like-profile
{
	transform: translateY(100vh) !important;
}

.swipe-like
{
	transform: rotateX(45deg) translateY(100vh) !important;
}

.swipe-dislike
{
	transform: rotateZ(45deg) translateX(-100vw) !important;
}

.fadeOut{
	opacity: 0;
}

.fadeIn
{
	opacity: 1;
}

.scale-to-normal
{
	animation: scaleElastic 1s ease-in-out;
	-webkit-animation: scaleElastic 1s ease-in-out;
}

@keyframes scaleElastic
{
	0% { transform: scale(0) }
	75% { transform: scale(1.25) }
	100% { transform: scale(1) }
}

@keyframes move {
	0% {
		transform: translatex(-25%);
	}
	25% {
		transform: translatex(25%);
		opacity: 0.3;
	}
	50% {
		transform: translatex(25%);
		opacity: 1;
		background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
	75% {
		transform: translatex(-25%);
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translatex(-25%);
		background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
}